
$body-color: $light;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Montserrat", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$red: #ff0000;
$primary: $white;
$font-weight-base: $font-weight-lighter;
$display4-size: 2.5rem;
$display3-size: 3.5rem;
$display2-size: 4.5rem;
$display1-size: 5.5rem;
$headings-font-weight: 300;
$border-radius: .5rem;
$border-radius-lg: 1rem;
$custom-checkbox-indicator-indeterminate-bg: transparent;
$custom-control-indicator-checked-color: $red;
$custom-control-indicator-checked-bg: transparent;
$custom-control-indicator-checked-border-color: $white;
$input-bg: transparent;
$input-disabled-bg: transparent;
$input-color: $white;
$input-border-radius: 0;
$input-placeholder-color: $gray-300;
$custom-select-border-radius: 0;
$custom-select-bg: $black;
$input-box-shadow: none;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$input-focus-box-shadow: none;
$custom-select-disabled-bg: $gray-700;
$nav-tabs-link-active-color: $red;
$nav-pills-link-active-color: $red;
$body-bg: $black;
$nav-pills-link-active-bg: $body-bg;
$dropdown-bg: $body-bg;
$dropdown-border-color: $gray-300;
$dropdown-color: $white;
$dropdown-link-color: $gray-300;
$dropdown-divider-bg: $gray-300;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $gray-500;
$alert-border-radius: 0;
$badge-font-weight: $font-weight-normal;
$alert-link-font-weight: $font-weight-normal;
$progress-border-radius: 0;
$list-group-bg: $body-bg;
$list-group-border-color: $gray-300;
$list-group-active-color: $red;
$list-group-active-bg: $body-bg;
$list-group-active-border-color: $gray-300;
$list-group-action-color: $gray-300;
$list-group-disabled-color: $gray-500;
$modal-content-bg: rgba($black, .7);
$modal-content-border-color: $gray-300;
$modal-content-border-radius: 0;
$tooltip-color: $black;
$tooltip-bg: $white;
$modal-content-border-width: 0;
$jumbotron-bg: transparent;
$btn-active-box-shadow: 0;
$btn-focus-box-shadow: 0;
$btn-box-shadow: 0;
$input-btn-focus-box-shadow: 0;
$secondary: $gray-500;